{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Is_read</th>
                <th>Is_response</th>
                <th>Name</th>
                <th>Email</th>
                <th>Parent_id</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.subject }}
                    {% if ticket.isRead is same as(false) %}
                        <div class="tickets-notif tickets-notif--new">New</div>
                    {% endif %}
                </td>
                <td>{{ ticket.content }}</td>
                <td>{{ ticket.isRead ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.isResponse ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.parentId }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_new') }}">Create new</a>
{% endblock %}
