{% extends 'base.html.twig' %}

{% block title %}Date index{% endblock %}

{% block body %}
<style>
    h1 { margin: 1em auto; max-width: 800px; width: 95%; color: red; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Date index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Place_name</th>
                <th>Place_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for date in dates %}
            <tr>
                <td>{{ date.id }}</td>
                <td>{{ date.datetime ? date.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ date.placeName }}</td>
                <td>{{ date.placeUrl }}</td>
                <td>
                    <a href="{{ path('app_date_show', {'id': date.id}) }}">show</a>
                    <a href="{{ path('app_date_edit', {'id': date.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_date_new') }}">Create new</a>
{% endblock %}
